.comment-us {
  margin-top: 36px;
  &__title {
    font-size: $fs;
    line-height: $lh;
    text-align: center;
    text-transform: uppercase;
  }
  &__text {
    font-size: $fs;
    line-height: $lh;
    text-align: center;
    max-width: 306px;
    margin-bottom: 16px;
  }
  &__line {
    border-bottom: 1px solid $ligh-grey;
    width: 320px;
    margin-bottom: 20px;
  }
}
