.main-nav {
  // display: none;
  width: 100%;
  background-color: $light-blue;
  position: absolute;
  // top: -220px;
  left: 0;
  bottom: 0px;
  &__item {
    font-family: $bold;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    &___link {
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    line-height: 55px;
    text-decoration: none;
    color: $main-white;
    font-size: $fs;
  }
}
@media (min-width: 768px) {
}
