.page-header {
  background-color: $main-white;
  .page-header__logo {
    width: 101px;
    height: 84px;
  }
}

.main-nav {
  &__wrapper {
    width: 282px;
  }
  &__list {
    list-style: none;
  }
  &__link {
    text-decoration: none;
  }
}
