.presentation {
  background-color: $main-white;
  padding-bottom: 94px;
  padding-top: 20px;
  &__title {
    font-size: $fs;
    line-height: $lh;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 32px auto 0;
    font-family: $bold;
  }
  &__text {
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: $fs2;
    line-height: $lh4;
    text-transform: uppercase;
  }
  span {
    display: block;
    letter-spacing: -1px;
  }
}
