.question {
  // margin-top: 33px;
  background-color: $main-white;
  padding-top: 58px;
  padding-bottom: 58px;
  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-size: $fs4;
    line-height: $lh;
    font-weight: bold;
  }
  &__text {
    text-align: center;
    font-weight: 400;
    font-size: $fs2;
    line-height: $lh4;
    text-transform: uppercase;
  }
}
