.sights {
  padding-left: 15px;
  padding-top: 26px;
  // margin-bottom: 35px;
  background-color: $main-white;
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 700;
    font-size: $fs;
    line-height: $lh;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 25px;
    text-transform: uppercase;
  }
  &__features {
    display: flex;
    justify-content: center;
  }
  &__advantage {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    line-height: $lh4;
    font-size: $fs2;
    text-transform: uppercase;
    max-width: 254px;
    margin-bottom: 26px;
    margin-left: 8px;
  }
}
