$main-white: white;
$sky: #81b3d2;
$cloud: #81b3d3;
$coal: #000000;
$dark-grey: #333333;
$smoke: #f2f2f2;
$tomato: #ff0000;
$sea: #0000ff;
$blue: #669ec0;
$sky: #5496bd;
$light-blue: #81b3d2;
$grass: #008000;
$orange: #ffa500;
$purpule: #800080;
$grafite: #333333;
$yellowgreen: #9acd32;
$background-grey: #f2f2f2;
$yellow: #ffff00;
$background-grey: #eeeeee;
$ligh-grey: #e5e5e5;
$grey: #e6e6e6;
$grey2: #d5d5d5;
$regular: "regular", "arial", sans-serif;
$bold: "bold", "arial", sans-serif;
$fs: 18px;
$lh: 26px;
$fs2: 14px;
$fs3: 21px;
$fs4: 30px;
$lh2: 24px;
$lh3: 15px;
$lh4: 21px;
* {
  box-sizing: border-box;
}
